//**Header CSS*//

.Header-Container{
  display: flex;
  flex-direction: column;
}

.Header-Container__Logo-Div{
  display: flex;
  justify-content: center;
  box-shadow: 3px 3px 3px lightgrey;
  padding: 10px;
}

.Header-Container__Location-Div{
  display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding-right: 40px;
    background-color: lightgray;
}

.Location-Icon{
  padding-top: 15px;
}

/****MENU SECTION***/

.Menu-Section{
display: flex;
flex-direction: column;
align-items: center;
}

.Menu-Container{
display: flex;
flex-direction: column;
align-items: center;
}

/****HOW IT WORKS SECTION***/
.HIW-Section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.HIW-Section__HIW-Opt-Container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
  justify-content: revert;
}

.HIW-Section__HIW-Opt-Div{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 20px;
  box-shadow: 3px 3px 3px lightgrey;
  border-radius: 20px;
  padding: 10px;
  padding-right: 120px;
  background-color: #F7F2F1;
}

.HIW-Section__HIW-Title-Div{
  padding-right: 200px;
}

.HIW-Section__HIW-Text{
  width: 300px;
  font-weight: 600;
}

.HIW-Opt-Div--LightPurple{
  background-color: #f3e3fc;
}

.HIW-Section--Purple{
  color: #9356DC;
}

.Restaurant-Section__Restaurants-Div{
  height: 270px;
  width: 370px;
  background-color: white;
  box-shadow: 3px 3px 3px lightgrey;
  border-radius: 20px;
}

.Restaurant-Section__Restaurant-Image{
  height: 190px;
  width: 370px;
  border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

.Restaurant-Section__Restaurant-Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 15px;
  padding-bottom: 40px;
}

.Restaurant-Section{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F2F1;
  padding-top: 30px;
}

.Menu-Section{
  padding-top: 15px;
  background-color: #F7F2F1;
    padding-bottom: 50px;
}

.Menu-Container__Button-Div{
  padding-top: 10px;
  padding-bottom: 40px;
}

.Menu-Container__Button{
  border-radius: 30px;
  padding: 10px;
  width: 200px;
}

.HIW-Section__HIW-Opt-Div{
  width: 250px;
}

.HIW-Section__Number-Icon{
  margin-left: -20px;
  border: 3px solid #9356DC;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #9356DC;
  color: white;
}


.Restaurant-Section__Title-Div{
  padding-right: 250px;
}

.Restaurant-Section__Restaurant-Text-Div{
  padding-left: 10px;
  margin-top: -10px;
}

.Restaurant-Section__Restaurant-Location{
  margin-top: -10px;
}

.Restaurant-Section__Heart-Icon{
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

Footer{
  background-color: black;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Footer-Container__Heading{
  font-family: "Shrikhand", sans-serif;
  color: white;
}

.Footer-Content{
color: white;
}

.Footer-Container__Div{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}

body {
  font-family: "Roboto", sans-serif;
}